:root {
 --primary-color: #091b00;
 --secondary-color: linear-gradient(to top left, #000714, #091b00);
 --text-color: #333;
 --background-color: #f4f4f4;
 --accent-color: #e74c3c;
}

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: Fira Code;
}

body {
 line-height: 1.6;
 color: var(--text-color);
 background-size: 200% 200%;
 animation: gradientAnimation 2s ease infinite;
 background: linear-gradient(to top left, #000714, #091b00);
}

.container {
 max-width: 1200px;
 margin: 0 auto;
 padding: 0 20px;
}

header {
 background: rgba(0, 0, 0, 0.2);
 color: #fff;
 padding: 1rem 0;
 position: fixed;
 width: 100%;
 top: 0;
 z-index: 1000;
}

nav {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.logo {
 font-size: 1.5rem;
 font-weight: bold;
}

.nav-links {
 display: flex;
 list-style: none;
}

.nav-links li {
 margin-left: 20px;
}

.nav-links a {
 color: #fff;
 text-decoration: none;
 transition: color 0.3s ease;
}

.nav-links a:hover {
 color: var(--primary-color);
}

.hamburger {
 display: none;
 cursor: pointer;
}
.hero {
 height: 100vh;
 display: flex;
 align-items: center;
 justify-content: center;
 text-align: center;
 color: #fafafa;
}
@keyframes gradientAnimation {
 0% {
  background-position: 0% 0%;
 }
 50% {
  background-position: 100% 100%;
 }
 100% {
  background-position: 0% 0%;
 }
}

.hero {
 position: relative;
 overflow: hidden;
 width: 100%;
 height: 100vh; /* Full height */
}

#bg-video {
 position: absolute;
 top: 50%;
 left: 50%;
 width: 100%;
 height: 100%;
 object-fit: cover; /* Cover the entire section */
 transform: translate(-50%, -50%);
 z-index: -1; /* Behind the content */
}

.hero-content {
 position: relative; /* Make sure content is above the video */
 z-index: 1;
 color: white; /* Ensure text is visible */
 text-align: center;
 padding: 20px;
}

.hero-content h1 {
 font-size: 3rem;
 margin-bottom: 1rem;
}

.hero-content p {
 font-size: 1.2rem;
 margin-bottom: 2rem;
}

.btn {
 background-color: #fafafa;
 color: #333;
 padding: 0.8rem 1.6rem;
 border: none;
 border-radius: 8px;
 font-size: 1rem;
 font-weight: 700;
 cursor: pointer;
 transition: background-color 0.3s ease;
 text-decoration: none;
 display: inline-block;
}

.btn:hover {
 background-color: #004c42;
 color: #fafafa;
}

h2 {
 font-size: 2.5rem;
 margin-bottom: 2rem;
 text-align: center;
 color: #fafafa;
}

.about-content {
 display: flex;
 justify-content: space-between;
 align-items: center;
 flex-wrap: wrap;
}

.developer {
 flex-basis: calc(50% - 20px);
 background: rgba(0, 0, 0, 0.2);
 border-radius: 10px;
 padding: 2rem;
 margin-bottom: 2rem;
 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 border: 1px solid rgba(255, 255, 255, 0.2);
}
.developer:hover {
 transform: scale(1.03);
 transition: 0.3s ease-in;
}
.developer img {
 width: 150px;
 height: 150px;
 border-radius: 50%;
 margin-bottom: 1rem;
}

.developer h3 {
 color: #fafafa;
 font-size: 1.5rem;
 margin-bottom: 0.5rem;
}

.developer p {
 margin-bottom: 1rem;
 color: #fafafa;
}

.skills {
 display: flex;
 flex-wrap: wrap;
 gap: 0.5rem;
}

.skill {
 color: #fff;
 padding: 0.3rem 0.8rem;
 border-radius: 20px;
 font-size: 0.9rem;
}

/* Apply different background colors to each skill */
.skill:nth-child(1) {
 background-color: #e63946; /* Red */
}

.skill:nth-child(2) {
 background-color: #457b9d; /* Blue */
}

.skill:nth-child(3) {
 background-color: #2a9d8f; /* Teal */
}

.skill:nth-child(4) {
 background-color: #f4a261; /* Orange */
}

.skill:nth-child(5) {
 background-color: #e76f51; /* Coral */
}

.portfolio-filters {
 display: flex;
 justify-content: center;
 margin-bottom: 2rem;
}

.filter-btn {
 background-color: transparent;
 border: 2px solid #fafafa;
 color: #fafafa;
 padding: 0.5rem 1rem;
 margin: 0 0.5rem;
 border-radius: 5px;
 cursor: pointer;
 transition: all 0.3s ease;
}

.filter-btn.active,
.filter-btn:hover {
 background: linear-gradient(to top left, #00102d, #123500);
 color: #fff;
}

.portfolio-grid {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
 gap: 2rem;
}

.portfolio-item {
 background: rgba(0, 0, 0, 0.2);
 border: 1px solid rgba(255, 255, 255, 0.2);
 border-radius: 10px;
 overflow: hidden;
 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 transition: transform 0.3s ease;
}

.portfolio-item:hover {
 transform: translateY(-5px);
}

.portfolio-item img {
 width: 100%;
 height: 200px;
 object-fit: cover;
}

.portfolio-item-content {
 padding: 1.5rem;
}

.portfolio-item h3 {
 color: #fafafa;
 font-size: 1.2rem;
 margin-bottom: 0.5rem;
}

.portfolio-item p {
 color: #fafafa;
 font-size: 0.9rem;
 margin-bottom: 1rem;
}

.portfolio-item a {
 color: #333;
 text-decoration: none;
 font-weight: bold;
}

.contact-form {
 max-width: 600px;
 margin: 0 auto;
 background: rgba(0, 0, 0, 0.2);
 border: 1px solid rgba(255, 255, 255, 0.2);
 padding: 2rem;
 border-radius: 10px;
 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 height: 450px;
}

.form-group {
 margin-bottom: 1.5rem;
}

.form-group label {
 color: #fafafa;
 display: block;
 margin-bottom: 0.5rem;
 font-weight: bold;
}

.form-group input,
.form-group textarea {
 background: rgba(0, 0, 0, 0.2);
 width: 100%;
 padding: 0.8rem;
 font-size: 1rem;
 border: none;
 border-bottom: #fafafa;
 color: #fafafa;
 outline: none;
 border-radius: 10px;
}
.form-group input {
 border: 1px solid rgba(255, 255, 255, 0.2);
}
.form-group textarea {
 border: 1px solid rgba(255, 255, 255, 0.2);
}
.social-links {
 display: flex;
 justify-content: center;
 margin-top: 2rem;
 color: #fafafa;
}

.social-links a {
 color: var(--secondary-color);
 font-size: 1.5rem;
 margin: 0 1rem;
 transition: color 0.3s ease;
}

.social-links a:hover {
 filter: brightness(1.5);
}

footer {
 background: var(--secondary-color);
 color: #fff;
 text-align: center;
 padding: 1rem 0;
}

@media screen and (max-width: 768px) {
 .nav-links {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--secondary-color);
  padding: 1rem 0;
 }

 .nav-links.show {
  display: flex;
 }

 .nav-links li {
  margin: 0.5rem 0;
 }

 .hamburger {
  display: block;
 }

 .developer {
  flex-basis: 100%;
 }
}

.thank-you-message {
 display: none;
 position: fixed;
 top: 0;
 left: 50%;
 transform: translateX(-50%) translateY(-20px);
 padding: 10px;
 border: 2px solid #4caf50;
 background-color: #f0fdf4;
 color: #4caf50;
 font-size: 18px;
 border-radius: 0 0 5px 5px;
 opacity: 0;
 transition: transform 0.5s ease-out, opacity 0.5s ease-out;
 z-index: 1000;
}

.thank-you-message.show {
 display: block;
 opacity: 1;
 transform: translateX(-50%) translateY(0);
}

.thank-you-message.hide {
 opacity: 0;
 transform: translateX(-50%) translateY(-20px);
}

.thank-you-message .checkmark {
 font-size: 24px;
 margin-right: 10px;
}

button.show-message-btn {
 padding: 10px 20px;
 font-size: 16px;
 cursor: pointer;
 border: none;
 border-radius: 5px;
 background: #fafafa;
 color: #000714;
 font-weight: 600;
 position: relative;
 margin-top: 100px; 
}

button.show-message-btn:hover {
 background-color: #45a049;
 transition: 0.2s ease-in;
 color: #fafafa;
 background: #000714;
 border: 1px solid rgba(255, 255, 255, 0.2);
}

.video-background {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 object-fit: cover;
 z-index: -1;
}

.content {
 position: relative;
 z-index: 1;
 color: white;
 text-align: center;
 padding: 20px;
}

h1 {
 font-size: 3em;
}

p {
 font-size: 1em;
}

.testimonial-container {
    display: flex; 
    width: 100%;
    max-width: 100%;
    height: 310px; 
    overflow-x: auto; 
    overflow-y: hidden;
    padding: 10px;
    border: 2px solid #000;
    background-color: #000000;
    margin: 20px auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    scrollbar-width: none;
    scrollbar-color: green black; 
}
.testimonial {
    flex: 0 0 auto;
    width: 300px;
    margin-right: 15px;
    padding: 15px;
    background-color: #000000;
    color: #ffffff;
    border-left: 5px solid green;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.show-message-btn{
    position: relative;
    top: -100px;
}

header{
    backdrop-filter: blur(25px);
}